.App {
  font-family: Roboto;
}

.login-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100vh; 
}

.login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  width: 25%;
  
}

input {
  padding: 10px;
  width: 95%;
}


.class-name {
  display: flex;

}

.class-name1 {
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
  border: 6px solid black;
  height: 10%;
  padding: 5px;

}

p {
  margin: 4px;
}

.image {
  display: flex;
  width: 40%;
  overflow-x: hidden;
  object-fit: cover;
  
}

.img {
  height: 100%;
}

.class {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-wrap: wrap;
}

.toolbarButtons {
    margin-left: auto;
  }